<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
		<meta charset="utf-8">  
        <title>top scores</title> 
  
</head>
<style>
body

{ font: 12px Arial;
}
.d1 {
    text-align: left;
}
path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
  </style>

<body>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script>
var margin = {top:40, right:150, bottom:150, left:150}
		var width = 600;
		var height = 600;
		var barWidth = 50;
		var barOffset = 5;
var data = JSON.parse({{result|tojson|safe}});
console.log(data)

	var xScale = d3.scale.linear()
			.domain([0, 200])
			.range([0, width/2])

	var yScale = d3.scale.ordinal()
        .domain(d3.range(0, 10))
        .rangeBands([0, height/2], 0.5)
	var myChart1 = d3.select("body").append("svg")
			.attr("width", width/2 + margin.left + margin.right)
			.attr("height", height/2 + margin.top + margin.bottom)
			.append("g")
			.attr("transform", "translate("+margin.left+","+margin.top+")")
	var bars = myChart1.selectAll('rect')
			.data(data)
			.enter()
			.append("rect")
				.style("fill", "Wheat")
				.attr("height", yScale.rangeBand())
				.attr('y', function(d,i){return yScale(i)-10})
				.attr("width", function(d){return xScale(d[1])})
				.attr("x", function(d){return width/30-20})
	var text1 = myChart1.selectAll("text")
			.data(data)
			.enter()
			.append("text")
			.text(function(d){return d[0]+"-"+d[2]})
			
			.attr("y", function(d,i){return i*30+6})
			.attr("x", -78)
			.attr("font-family", "sans-serif")
		    .attr("font-size", "11px")
		    .attr("fill", "black")
		    .style("text-anchor", "middle")
	var tex11 = myChart1
    	   .append('text')
		   .text("Scores")
		   .attr("x", width/2+25)
		   .attr("y", height/2 +10)
		   .style("text-anchor", "middle")
		   .attr("font-weight", "bold")
		   .attr("font-size", "14px")
	var tex12 = myChart1
    	   .append('text')
		   .text("Categories&Zip_Codes")
		   .attr("x", 0)
		   .attr("y", -5)
		   .style("text-anchor", "middle")
		   .attr("font-weight", "bold")
		   .attr("font-size", "14px")

	var vAxisScale = d3.scale.linear()
			.domain([0, 200])
			.range([0,width/2])

	var vAxis = d3.svg.axis()
			.scale(vAxisScale)
			.orient("bottom")
			.ticks(10)

	var vGuide = d3.select("svg").append("g")
			.attr("transform","translate("+margin.left+","+(height/2+margin.top)+")")

	        .style({ stroke: "#000"})
			vAxis(vGuide)

	var hAxis = d3.svg.axis()
			.scale(xScale)
			.orient("left")
			.tickFormat([])

	var hGuide = d3.select("svg").append("g")
			hGuide.attr('transform', 'translate(' + margin.left + ', ' + ( margin.top) + ')')
	        .style({ fill: 'none', stroke: "#000"})
		    hGuide.selectAll('line')
	        .style({ stroke: "#000"})
	        hAxis(hGuide)
</script>
</body>
</html>
