 <html>
    <head>
        <title>Form response</title>
  <link type="text/css" rel="stylesheet"
        href="{{ url_for('static',
              filename='hello.css')}}" />
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>POST request with Flask</h1>
            </div>
            <div id="content">
                <p>Hello <strong>{{name}}</strong> ({{email}})!</p>
                <p>{{response}}</p>
            </div>
            <script type="text/javascript">
                var members_json = JSON.parse({{json_response|tojson}});
                var members = members_json['members'];
                var listContainer = document.createElement("div");
                document.getElementsByTagName("body")[0].appendChild(listContainer);
                var listElement = document.createElement("ul");
                listContainer.appendChild(listElement);
                members.forEach(function(d){
                    var listItem = document.createElement("li");
                    listItem.innerHTML = d;
                    listElement.appendChild(listItem);
                });
            </script>
            <div class="title">
        </div>
    </body>
</html>