 <html>
    <head>
        <title>Form response</title>
  <link type="text/css" rel="stylesheet"
        href="{{ url_for('static',
              filename='hello.css')}}" />
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>POST request with Flask</h1>
            </div>
            <div id="content">
                <p>Hello <strong>{{name}}</strong> ({{email}})!</p>
                <p>{{response}}</p>
            </div>
            <div class="title">
        </div>
    </body>
</html>