<!DOCTYPE html> 
<html>
<head>
<meta charset=utf-8 />
<title>Leaflet Markercluster</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css')}}" />
<script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet' />
<style>
  body { margin:0; padding:5px; }
  #map { float:left; top:0; width:80%; padding:5px; height: 800px;}
  #sidecol {float:left; top:0; width:20%;padding:5px; height: 800px;}
</style>
</head>
<body>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />

<!-- Example data. -->
<script src="{{ url_for('static', filename='place.js') }}"></script>

<div id='map'></div>
<div id='sidecol'>
<button type="submit" onclick = "update_view(1)">Hottest place!</button>
<button type="submit" onclick = "update_view(2)">2nd Place!</button>
<button type="submit" onclick = "update_view(3)">3rd Place</button>
<button type="submit" onclick = "window.location.href='/'">Return</button>
</div>

<script>

    L.mapbox.accessToken = 'pk.eyJ1IjoidGhvbWFzY2hhbiIsImEiOiJjaWd2cXFoa3YwcnJ1dzltNTZtYzc4cjgwIn0.H8f8OP8-as02lbt8pb92DA';

    markers = 0;
    var alldata = JSON.parse({{ information|tojson|safe }});

    var city = cityPoints[alldata['metro_area']];

    var map = L.mapbox.map('map', 'mapbox.streets')
        .setView(city, 11);

    temp1 = alldata['top3'][0]['restaurants'];
    
    temp2 = alldata['top3'][1]['restaurants'];
    
    temp3 = alldata['top3'][2]['restaurants'];

    function update_view (argument) {
        if (markers!==0){
            map.removeLayer(markers);
        }
        if (argument===1) {
            restaurants = temp1;
        }
        else if (argument === 2){
            restaurants = temp2;
        }
        else{
            restaurants = temp3;
        }
        
        markers = new L.MarkerClusterGroup();

        for (var i = 0; i < restaurants.length; i++) {
            var info = restaurants[i];
            var marker = L.marker(new L.LatLng(info['latitude'], info['longitude']), {
                icon: L.mapbox.marker.icon({'marker-symbol': 'restaurant', 'marker-color': 'c41200'}),
                title: info['name']
            });
            marker.bindPopup(info['name']);
            markers.addLayer(marker);
        }

        map.addLayer(markers);
    }


</script>
</body>
</html>